<section>
<h1 class="h1_form_new">Edit a post</h1>
  <div class="form_new">
    <%= form_for @post do |f| %>
      <div class="form-group">
        <label>Title of the post</label>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label>Description of the post</label>
        <%= f.text_area :description, class: 'form-control' %>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Edit the post</button>
      </div>
    <% end %>
  </div>
</section>
